pydantic
langchain
langchain-groq
python-dotenv
typing-extensions
ipykernel
langchain-core
langchain-community
pinecone
langchain-pinecone
langchain-text-splitters
tiktoken
bs4
ollama
sentence-transformers
pandas
matplotlib
seaborn
tqdm